dataTemp*
__pycache__/__init__.cpython-310.pyc
__pycache__/AQ6370D.cpython-310.pyc
__pycache__/auxiliary_classes.cpython-310.pyc
__pycache__/getData.cpython-310.pyc
__pycache__/optical_mechanical_identification.cpython-310.pyc
__pycache__/Q8347.cpython-310.pyc
